@import "../../utils/variables";

.BalanceBanner {
    padding: 2rem;
    // height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    h2 {
        margin-bottom: 1rem;
        font-weight: 400;
    }
    p {
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.positive {
    background-color: $positive;
}

.negative {
    background-color: $negative;
}