@import "../../utils/variables";
 
.Header {
    background-color: $primary;
    color: $white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        height: auto;
        width: 2rem;
    }
}