@import "../../utils/variables";

.NewEntryButton {
    text-align: center;
    padding: 1.5rem;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem;
        background-image: linear-gradient(135deg, darken($primary, 10%) 0%, $primary 100%);
        border: none;
        border-radius: 5px;
        color: $white;
        font-size: 2rem;
        font-weight: 600;
        box-shadow: $shadow;

        svg {
            height: auto;
            width: 2.25rem;
            margin-left: 1rem;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        &:active {
            transform: scale(0.95);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        &:focus {
            outline: none;
        }
    }
}