@import "../../utils/variables";

.Login {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    h1 {
        margin-bottom: 1rem;
    }
    .firebaseAuthCustom {
        margin-top: 2rem;
        width: 100%;
        form {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            border-radius: 5px;
        }
    }
}