@import "../../utils/variables";

.EntriesList {
    // position: fixed;
    // z-index: 0;
    // top: 19rem;
    // margin: 2rem auto;
    width: 100%;
    padding: 0 2rem 2rem;
    
    h2 {
        text-align: center;
        width: 100%;
    }
    
    section {
        height: 45vh;
        overflow-y: scroll;
        min-width: 312px;
        max-width: $medium;
        margin: .5rem auto;
        @media screen and (max-height: 650px) {
            height: 30vh;
        }


        div {
            display: flex;
            width: 100%;
            padding: .25rem .5rem;
            &:nth-child(odd) {
                background-color: $light-gray;
            }

            p {
                line-height: 1;
                padding: .25rem 0;
                &.date {
                    width: 20%;
                }

                &.desc {
                    width: 50%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-left: .5rem;
                }

                &.amount {
                    width: 30%;
                    min-width: 5rem;
                    text-align: right;
                    font-weight: 400;
                    padding-right: .5rem;
                    &.spend {
                        color: $negative;
                    }
                    &.deposit {
                        color: $positive;
                    }
                }
            }
        }
    }
}